= render 'link'
.form__new
  %h1 NEW POST
= form_for @picture do |f|
  .form__new__picture
    = f.text_field :text, class: 'text'
    = f.label :image,class: 'label' do
      = fa_icon 'camera-retro', class: 'icon'
      = f.file_field :image, class: 'hidden'
  = f.submit "POST" ,class: 'post'


