= render 'link'
.main__content
  = image_tag @picture.image.url ,class: "main__content--picture"
.form__box
  = form_for [@picture,@comment] do |f|
    .form__box__comment
      = f.text_field :text, placeholder:'コメントを入力してください',class: 'text__field',remoto: true
    = f.submit  "SEND", class:'form__submit'


//picture_comment_index POST   /pictures/:picture_id/comment
//    = form_for [@group,@message] do |f|
//      .form__content__box
//        = f.text_field :text,placeholder: 'type a message',class: 'form_field',remote: 'true'
//        = f.label :image,class: 'label' do
//          = fa_icon 'camera-retro', class: 'icon'
//          = f.file_field :image, class: 'hidden'
//        = f.submit "Send",class: "form__submit"
//.wrapper_footer
